.form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.inputField {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex: 1;
}

.btn {
  background-color: #05b44e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #047e37;
}
